<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teacher.mapper.experimentMapper">

    <resultMap id="experiment" type="com.example.commons.entity.experiment"/>
    <parameterMap id="experiment" type="com.example.commons.entity.experiment"/>
    <update id="setFile">
        update experiment set file_url = #{fileUrl} , file_name = #{fileName} where experiment_id = #{experimentId}
    </update>
    <select id="getExperimentByChapterId" resultMap="experiment">
        select * from experiment where chapter_id = #{chapterId}
    </select>
</mapper>