<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teacher.mapper.teacherMapper">

    <resultMap id="Teacher" type="com.example.commons.entity.Teacher"/>
    <parameterMap id="Teacher" type="com.example.commons.entity.Teacher"/>

    <select id="findTeacherByTeacherIdAndPassword" resultMap="Teacher">
        SELECT  * FROM teacher where teacher_id = #{teacherId} and password = #{password}
    </select>

</mapper>